.column {
  display: flex;
  flex-direction: column;
}
.fourPartStyle-mobile #part21 .title {
  top: 70%;
}
.fourPartStyle-mobile #part22 .title {
  left: 55%;
  transform: scale(0.8, 1);
  display: flex;
  flex-direction: column;
}
.fourPartStyle-mobile #part23 .title {
  left: 36%;
}
.fourPartStyle-mobile #part24 .title {
  top: 46%;
  left: 37%;
}
.fourPartStyle-mobile #part25 .title {
  top: 62%;
  left: 34%;
}
.fourPartStyle-mobile #part26 .title {
  top: 60%;
  left: 40%;
}
.fourPartStyle-mobile #part27 .title {
  top: 40%;
}
.fourPartStyle-mobile #part280 .title {
  left: 60%;
}
.fourPartStyle-mobile #part29 .title {
  top: 0;
  left: 32%;
}
.fourPartStyle-mobile #part30 .title {
  top: 70%;
}
.fourPartStyle-mobile #part31 .title {
  top: 10%;
  left: 54%;
}
.fourPartStyle-mobile #part32 .title {
  top: 20%;
  left: 54%;
}
.fourPartStyle-mobile #part33 .title {
  top: 52%;
  left: 60%;
}
.fourPartStyle-mobile #part34 .title {
  top: unset;
  bottom: -4%;
}
.fourPartStyle-mobile #part351 .title {
  top: -10%;
}
.fourPartStyle-mobile #part37 .title {
  top: unset;
  bottom: 0%;
}
.fourPartStyle-mobile #part361 .title {
  top: 16%;
  left: 71%;
  white-space: nowrap;
}
.fourPartStyle-mobile #part38 .title {
  left: 53%;
  display: flex;
  flex-direction: column;
}
.fourPartStyle-mobile #part41 .title {
  top: 81%;
  left: 78%;
}
