// 如果是上下排列，则直接调用这个类名
.column{
    display: flex;
    flex-direction: column;
}
.fourPartStyle-mobile{
    // A区
    #part21{
        .title{
            top: 70%;
        }
    }
    // B区
    #part22{
        .title{
            left: 55%;
            transform: scale(0.8,1);
            .column;
        }
    }
    // C区
    #part23{
        .title{
            left: 36%;
        }
    }
    // D区
    #part24{
        .title{
            top: 46%;
            left: 37%;
        }
    }
    // E区
    #part25{
        .title{
            top: 62%;
            left: 34%;
        }
    }
    // F区
    #part26{
        .title{
            top: 60%;
            left: 40%;
        }
    }
    // G区
    #part27{
        .title{
            top: 40%;
        }
    }
    // H区
    #part280{
        .title{
            left: 60%;
        }
    }
    // J区
    #part29{
        .title{
            top: 0;
            left: 32%;
        }
    }
    // I区
    #part30{
        .title{
            top: 70%;
        }
    }
    // K区
    #part31{
        .title{
            top: 10%;
            left: 54%;
        }
    }
    // L区
    #part32{
        .title{
            top: 20%;
            left: 54%;
        }
    }
    // M区
    #part33{
        .title{
            top: 52%;
            left: 60%;
        }
    }
    // N区
    #part34{
        .title{
            top: unset;
            bottom: -4%;
        }
    }
    // P区
    #part351{
        .title{
            top: -10%;
        }
    }
    // R区
    #part37{
        .title{
            top: unset;
            bottom: 0%;
        }
    }
    // Q区
    #part361{
        .title{
            top: 16%;
            left: 71%;
            white-space: nowrap;
        }
    }
    // S区
    #part38{
        .title{
            left: 53%;
            .column;
        }
    }
    // 前台
    #part41{
        .title{
            top: 81%;
            left: 78%;
        }
    }
}