.ShenZhenAreaStyle-mobile #QY02020700241 .title {
  top: unset;
  left: unset;
  bottom: 14%;
  right: -58%;
}
.ShenZhenAreaStyle-mobile #QY02020700243 .title {
  top: 65%;
  left: unset;
  right: -58%;
}
.ShenZhenAreaStyle-mobile #QY02020700246 .title {
  top: -17%;
  left: 13%;
}
.ShenZhenAreaStyle-mobile #QY02020700247 .title {
  top: unset;
  left: 97%;
  bottom: -28%;
}
.ShenZhenAreaStyle-mobile #QY02020700248 .title {
  top: unset;
  left: 101%;
  bottom: -20%;
}
.ShenZhenAreaStyle-mobile #QY020207002413 .title {
  top: unset;
  left: 45%;
  bottom: -22%;
}
.ShenZhenAreaStyle-mobile #QY020207002415 .title {
  top: unset;
  left: 20%;
  bottom: -20%;
}
.ShenZhenAreaStyle-mobile #QY020207002419 .title {
  top: -13%;
  left: 16%;
}
.ShenZhenAreaStyle-mobile #QY0202070029219 .title {
  top: -14%;
}
.ShenZhenAreaStyle-mobile #QY02020700300 .title {
  top: unset;
  bottom: -20%;
}
.ShenZhenAreaStyle-mobile #QY02020700311 .title {
  left: 25%;
  top: unset;
  bottom: -60%;
}
.ShenZhenAreaStyle-mobile #QY02020700312 .title {
  left: -41%;
}
.ShenZhenAreaStyle-mobile #QY02020700310 {
  background-color: rgba(2, 122, 255, 0.05) !important;
}
.ShenZhenAreaStyle-mobile #QY02020700310 .title {
  top: -24%;
}
.ShenZhenAreaStyle-mobile #QY0202070028218 .title {
  top: -15%;
}
.ShenZhenAreaStyle-mobile #QY02020700272 .title {
  left: -22%;
}
.ShenZhenAreaStyle-mobile #QY02020700270 .title {
  top: -22%;
  left: 12%;
}
.ShenZhenAreaStyle-mobile #QY02020700260 .title {
  top: -18%;
  left: 20%;
}
.ShenZhenAreaStyle-mobile #QY02020700251 .title {
  top: -16%;
  left: 13%;
}
.ShenZhenAreaStyle-mobile #QY0202070009199 .title {
  top: unset;
  bottom: -158%;
}
.ShenZhenAreaStyle-mobile #QY0202070018208 .title {
  top: 29%;
  left: -50%;
}
.ShenZhenAreaStyle-mobile #QY0202070019209 .title {
  top: 60%;
  left: -50%;
}
.ShenZhenAreaStyle-mobile #QY02020700160 .title {
  top: -31%;
}
.ShenZhenAreaStyle-mobile #QY02020700161 .title {
  top: unset;
  bottom: -73%;
}
.ShenZhenAreaStyle-mobile #QY0202070023213 .title {
  left: unset;
  right: -10%;
}
.ShenZhenAreaStyle-mobile #QY0202070005189 .title,
.ShenZhenAreaStyle-mobile #QY0202070006190 .title,
.ShenZhenAreaStyle-mobile #QY0202070001185 .title,
.ShenZhenAreaStyle-mobile #QY0202070002186 .title,
.ShenZhenAreaStyle-mobile #QY0202070007191 .title,
.ShenZhenAreaStyle-mobile #QY0202070003187 .title,
.ShenZhenAreaStyle-mobile #QY0202070008192 .title,
.ShenZhenAreaStyle-mobile #QY0202070004188 .title {
  display: flex;
  flex-direction: column;
}
.ShenZhenAreaStyle-mobile #QY0202070032222 .title {
  top: 40%;
  left: 32%;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY0202070033223 .title {
  top: unset;
  bottom: -124%;
  left: 48%;
}
