.ShenZhenAreaStyle-mobile #QY02020700241 .title {
  top: unset;
  left: unset;
  bottom: 0.3375rem;
  right: -0.525rem;
}
.ShenZhenAreaStyle-mobile #QY02020700243 .title {
  top: 2.3125rem;
  left: unset;
  right: -0.525rem;
}
.ShenZhenAreaStyle-mobile #QY02020700246 .title {
  top: -0.075rem;
  left: 0.2375rem;
}
.ShenZhenAreaStyle-mobile #QY02020700247 .title {
  top: unset;
  left: 0.25rem;
  bottom: -0.3125rem;
}
.ShenZhenAreaStyle-mobile #QY02020700248 .title {
  top: unset;
  left: 0.65rem;
  bottom: -0.3125rem;
}
.ShenZhenAreaStyle-mobile #QY020207002413 .title {
  top: unset;
  left: 0.1625rem;
  bottom: -0.3125rem;
}
.ShenZhenAreaStyle-mobile #QY020207002415 .title {
  top: unset;
  left: 0.275rem;
  bottom: -0.3125rem;
}
.ShenZhenAreaStyle-mobile #QY020207002419 .title {
  top: -0.0625rem;
  left: 0.125rem;
}
.ShenZhenAreaStyle-mobile #QY0202070029219 .title {
  top: -0.0625rem;
}
.ShenZhenAreaStyle-mobile #QY02020700300 .title {
  top: unset;
  bottom: -0.3125rem;
  left: 0.3125rem;
}
.ShenZhenAreaStyle-mobile #QY02020700311 .title {
  left: 0;
  top: unset;
  bottom: -0.2375rem;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY02020700312 .title {
  left: -0.325rem;
  transform: translate(0, -50%);
}
.ShenZhenAreaStyle-mobile #QY02020700310 .title {
  top: -0.0625rem;
}
.ShenZhenAreaStyle-mobile #QY0202070028218 .title {
  top: -0.1875rem;
  left: -0.0875rem;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY02020700272 .title {
  left: -0.3375rem;
  transform: translate(0, -50%);
}
.ShenZhenAreaStyle-mobile #QY02020700271 .title {
  top: -0.1875rem;
  left: 0.025rem;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY02020700260 .title {
  top: -0.1875rem;
  left: 0.0875rem;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY02020700251 .title {
  top: -0.1875rem;
  left: 0.0375rem;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY0202070009199 .title {
  top: unset;
  bottom: -0.2125rem;
  transform: translate(-50%, 0);
}
.ShenZhenAreaStyle-mobile #QY0202070018208 .title {
  top: 0.05rem;
  left: -0.6rem;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY0202070019209 .title {
  top: 0.5rem;
  left: -0.6125rem;
  transform: unset;
}
.ShenZhenAreaStyle-mobile #QY02020700160 .title {
  top: -0.25rem;
  transform: translate(-50%, 0);
}
.ShenZhenAreaStyle-mobile #QY02020700161 .title {
  top: unset;
  bottom: -0.25rem;
  transform: translate(-50%, 0);
}
.ShenZhenAreaStyle-mobile #QY0202070023213 .title {
  left: 0.875rem;
}
.ShenZhenAreaStyle-mobile #QY0202070005189 .title,
.ShenZhenAreaStyle-mobile #QY0202070006190 .title,
.ShenZhenAreaStyle-mobile #QY0202070001185 .title,
.ShenZhenAreaStyle-mobile #QY0202070002186 .title,
.ShenZhenAreaStyle-mobile #QY0202070007191 .title,
.ShenZhenAreaStyle-mobile #QY0202070003187 .title,
.ShenZhenAreaStyle-mobile #QY0202070008192 .title,
.ShenZhenAreaStyle-mobile #QY0202070004188 .title {
  display: flex;
  flex-direction: column;
}
.ShenZhenAreaStyle-mobile #QY0202070032222 .title {
  top: 0.1183rem;
  left: 0.4rem;
  transform: unset;
}
