.FourAreaStyle-mobile #QY010104000270 .title {
  top: unset;
  bottom: 1%;
}
.FourAreaStyle-mobile #QY010104000472 .title .name {
  transform: scale(0.8, 1);
}
.FourAreaStyle-mobile #QY010104000787 .title .name {
  transform: scale(0.8, 1);
}
.FourAreaStyle-mobile #QY0101040030116 .title {
  top: 55%;
}
.FourAreaStyle-mobile #QY0101040028114 .title {
  top: unset;
  bottom: -7%;
}
.FourAreaStyle-mobile #QY0101040032118 .title,
.FourAreaStyle-mobile #QY0101040031117 .title,
.FourAreaStyle-mobile #QY0101040042131 .title {
  left: 20%;
}
.FourAreaStyle-mobile #QY0101040032118 .title span,
.FourAreaStyle-mobile #QY0101040031117 .title span,
.FourAreaStyle-mobile #QY0101040042131 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY01010400310 .title {
  left: 9%;
  top: 107%;
}
.FourAreaStyle-mobile #QY01010400310 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040036123 .title,
.FourAreaStyle-mobile #QY0101040036122 .title {
  top: 25%;
}
.FourAreaStyle-mobile #QY0101040039125 .title,
.FourAreaStyle-mobile #QY0101040070189 .title {
  top: unset;
  bottom: -5%;
}
.FourAreaStyle-mobile #QY0101040040126 .title {
  left: 0;
}
.FourAreaStyle-mobile #QY0101040040126 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040038124 .title {
  top: unset;
  bottom: -0.1075rem;
}
.FourAreaStyle-mobile #QY0101040033119 .title {
  top: 20%;
  left: 65%;
}
.FourAreaStyle-mobile #QY0101040043132 .title,
.FourAreaStyle-mobile #QY0101040035121 .title,
.FourAreaStyle-mobile #QY0101040034120 .title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  right: 5%;
  left: unset;
}
.FourAreaStyle-mobile #QY0101040043132 .title span,
.FourAreaStyle-mobile #QY0101040035121 .title span,
.FourAreaStyle-mobile #QY0101040034120 .title span {
  width: 2px;
  white-space: unset;
  word-break: break-all;
}
.FourAreaStyle-mobile #QY0101040043132 .title .name,
.FourAreaStyle-mobile #QY0101040035121 .title .name,
.FourAreaStyle-mobile #QY0101040034120 .title .name {
  margin-left: 13px;
}
.FourAreaStyle-mobile #QY0101040035121 .title {
  right: 9%;
}
.FourAreaStyle-mobile #QY0101040035121 .title .subtitle {
  transform: scale(1, 0.8);
}
.FourAreaStyle-mobile #QY0101040044133 .title {
  left: unset;
  right: 25%;
}
.FourAreaStyle-mobile #QY0101040044133 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040047143 .name {
  transform: scale(0.5, 1);
}
.FourAreaStyle-mobile #QY01010400412 .title {
  top: 48%;
  left: -10%;
}
.FourAreaStyle-mobile #QY01010400510 .title {
  left: 80%;
}
.FourAreaStyle-mobile #QY01010400530 .title {
  top: 60%;
  left: 57%;
}
.FourAreaStyle-mobile #QY01010400550 .title {
  top: 60%;
}
.FourAreaStyle-mobile #QY0101040064164 .title {
  top: 20%;
}
.FourAreaStyle-mobile #QY01010400300 .title {
  left: 40%;
  top: 10%;
}
.FourAreaStyle-mobile #QY01010400621 .title,
.FourAreaStyle-mobile #QY01010400631 .title {
  left: 42%;
}
.FourAreaStyle-mobile #QY01010400621 .title span,
.FourAreaStyle-mobile #QY01010400631 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040068161 .title {
  top: 10%;
  left: 40%;
}
.FourAreaStyle-mobile #QY0101040061160 .title {
  top: 38%;
  left: 40%;
}
.FourAreaStyle-mobile #QY0101040065165 .title {
  top: unset;
  bottom: 0%;
}
.FourAreaStyle-mobile #QY0101040067159 .title {
  top: 55%;
}
.FourAreaStyle-mobile #QY0101040067159 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY01010400450 .title {
  top: 8%;
  left: 20%;
}
.FourAreaStyle-mobile #QY01010400220 {
  border-radius: 0.0538rem 0 0 0;
}
.FourAreaStyle-mobile #QY01010400230 {
  border-radius: 0 0.0538rem 0 0;
}
.FourAreaStyle-mobile #QY01010400030 {
  border-radius: 0.1505rem 0 0 0;
}
