.FourAreaStyle-mobile #QY010104000270 .title {
  top: unset;
  bottom: 0;
}
.FourAreaStyle-mobile #QY010104000472 .title .name {
  transform: scale(0.3, 0.55);
}
.FourAreaStyle-mobile #QY010104000787 .title .name {
  transform: scale(0.3, 0.55);
}
.FourAreaStyle-mobile #QY0101040030116 .title {
  top: 55%;
}
.FourAreaStyle-mobile #QY0101040028114 .title {
  top: 5%;
  left: 35%;
}
.FourAreaStyle-mobile #QY0101040032118 .title,
.FourAreaStyle-mobile #QY0101040031117 .title,
.FourAreaStyle-mobile #QY0101040042131 .title {
  left: 20%;
}
.FourAreaStyle-mobile #QY0101040032118 .title span,
.FourAreaStyle-mobile #QY0101040031117 .title span,
.FourAreaStyle-mobile #QY0101040042131 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040031117 .title {
  left: 10%;
}
.FourAreaStyle-mobile #QY0101040036123 .title,
.FourAreaStyle-mobile #QY0101040036122 .title {
  top: unset;
  bottom: -0.172rem;
}
.FourAreaStyle-mobile #QY0101040039125 .title,
.FourAreaStyle-mobile #QY0101040070189 .title {
  top: unset;
  bottom: -0.1828rem;
}
.FourAreaStyle-mobile #QY0101040040126 .title {
  left: 0;
}
.FourAreaStyle-mobile #QY0101040040126 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040038124 .title {
  top: unset;
  bottom: -0.1075rem;
}
.FourAreaStyle-mobile #QY0101040035121 .title {
  top: unset;
  bottom: -0.4731rem;
}
.FourAreaStyle-mobile #QY0101040035121 .title .subtitle {
  transform: translate(0px, -6px) scale(0.38, 0.38);
}
.FourAreaStyle-mobile #QY0101040034120 .title {
  top: unset;
  bottom: -0.5054rem;
}
.FourAreaStyle-mobile #QY0101040034120 .title .subtitle {
  transform: translate(0px, -6.5px) scale(0.38, 0.38);
}
.FourAreaStyle-mobile #QY0101040033119 .title {
  top: 20%;
  left: 65%;
}
.FourAreaStyle-mobile #QY0101040043132 .title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  right: 0.0108rem;
  left: unset;
}
.FourAreaStyle-mobile #QY0101040043132 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040043132 .title .name {
  margin-left: 0.043rem;
  transform: scale(0.55, 0.4);
}
.FourAreaStyle-mobile #QY0101040044133 .title {
  left: unset;
  right: 29%;
}
.FourAreaStyle-mobile #QY0101040044133 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY010104001696 .name {
  transform: scale(0.4, 0.55);
}
.FourAreaStyle-mobile #QY0101040048144 .name {
  transform: scale(0.4, 0.55);
}
.FourAreaStyle-mobile #QY0101040047143 .name {
  transform: scale(0.3, 0.55);
}
.FourAreaStyle-mobile #QY01010400412 .title {
  top: 48%;
  left: 20%;
}
.FourAreaStyle-mobile #QY01010400510 .title {
  left: 0.1935rem;
}
.FourAreaStyle-mobile #QY01010400510 .name,
.FourAreaStyle-mobile #QY0101040056154 .name,
.FourAreaStyle-mobile #QY0101040057155 .name {
  transform: scale(0.5, 0.55);
}
.FourAreaStyle-mobile #QY01010400521 .name,
.FourAreaStyle-mobile #QY0101040058156 .name,
.FourAreaStyle-mobile #QY01010400530 .name,
.FourAreaStyle-mobile #QY01010400540 .name,
.FourAreaStyle-mobile #QY0101040059157 .name,
.FourAreaStyle-mobile #QY0101040060158 .name {
  transform: scale(0.35, 0.55);
}
.FourAreaStyle-mobile #QY01010400550 .title {
  top: 61%;
}
.FourAreaStyle-mobile #QY0101040064164 .title {
  top: 20%;
}
.FourAreaStyle-mobile #QY01010400300 .title {
  left: unset;
  right: 0.0968rem;
}
.FourAreaStyle-mobile #QY01010400300 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.FourAreaStyle-mobile #QY01010400621 .title,
.FourAreaStyle-mobile #QY01010400631 .title {
  left: 42%;
}
.FourAreaStyle-mobile #QY01010400621 .title span,
.FourAreaStyle-mobile #QY01010400631 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.FourAreaStyle-mobile #QY0101040068161 .title {
  top: 10%;
  left: 40%;
}
.FourAreaStyle-mobile #QY0101040061160 .title {
  top: 38%;
  left: 40%;
}
.FourAreaStyle-mobile #QY0101040065165 .title {
  top: unset;
  bottom: -230%;
  left: 0;
}
.FourAreaStyle-mobile #QY0101040067159 .title {
  top: 55%;
}
.FourAreaStyle-mobile #QY0101040067159 .title span {
  width: 2px;
  white-space: unset;
}
.FourAreaStyle-mobile #QY01010400450 .title {
  top: 30%;
  left: 10%;
}
.FourAreaStyle-mobile #QY01010400450 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.FourAreaStyle-mobile #QY01010400220 {
  border-radius: 0.0538rem 0 0 0;
}
.FourAreaStyle-mobile #QY01010400230 {
  border-radius: 0 0.0538rem 0 0;
}
.FourAreaStyle-mobile #QY01010400030 {
  border-radius: 0.1505rem 0 0 0;
}
.FourAreaStyle-mobile #QY010104001595 .title,
.FourAreaStyle-mobile #QY010104001696 .title {
  line-height: 0;
}
