.shenZhenSeatStyle-PC .shenzhen-new-seat-east {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
  width: 18px;
  height: 20px;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-east .desk {
  width: 7px;
  height: 20px;
  background: url('../../../../../public/legend-image/desk-column.png') no-repeat;
  background-size: 100% 100%;
  border-radius: 1px;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-east .chair {
  position: relative;
  top: 50%;
  width: 11px;
  height: 11px;
  background: url('../../../../../public/legend-image/yizi.png') no-repeat;
  background-size: 100% 100%;
  transform: translateY(-50%) rotateZ(180deg);
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-south {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column-reverse;
  width: 20px;
  height: 18px;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-south .desk {
  width: 20px;
  height: 7px;
  background: url('../../../../../public/legend-image/desk-row.png') no-repeat;
  background-size: 100% 100%;
  border-radius: 1px;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-south .chair {
  position: relative;
  left: 50%;
  width: 11px;
  height: 11px;
  background: url('../../../../../public/legend-image/yizi.png') no-repeat;
  background-size: 100% 100%;
  transform: translateX(-50%) rotateZ(270deg);
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-west {
  position: absolute;
  z-index: 5;
  display: flex;
  width: 18px;
  height: 20px;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-west .desk {
  width: 7px;
  height: 20px;
  border-radius: 1px;
  background: url('../../../../../public/legend-image/desk-column.png') no-repeat;
  background-size: 100% 100%;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-west .chair {
  position: relative;
  top: 50%;
  width: 11px;
  height: 11px;
  background: url('../../../../../public/legend-image/yizi.png') no-repeat;
  background-size: 100% 100%;
  transform: translateY(-50%) rotateZ(0deg);
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-north {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  height: 18px;
  width: 20px;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-north .desk {
  width: 20px;
  height: 7px;
  border-radius: 1px;
  background: url('../../../../../public/legend-image/desk-row.png') no-repeat;
  background-size: 100% 100%;
}
.shenZhenSeatStyle-PC .shenzhen-new-seat-north .chair {
  position: relative;
  left: 50%;
  width: 11px;
  height: 11px;
  background: url('../../../../../public/legend-image/yizi.png') no-repeat;
  background-size: 100% 100%;
  transform: translateX(-50%) rotateZ(90deg);
}
