// 如果是上下排列，则直接调用这个类名
.column{
    display: flex;
    flex-direction: column;
}
.FourPartStyle-PC{
    // A区
    #part21{
        .title{
            top: 65%;
            left: 93%;
            .column;
        }
    }
    // B区
    #part22{
        .title{
            top: unset;
            bottom: -25%;
        }
    }
    // C区
    #part23{
        .title{
            top: 13%;
            left: 38%;
        }
    }
    // D区
    #part24{
        .title{
            display: flex;
            align-items: center;
            top: 9%;
            transform:translate(-50%,-50%) scale(0.8,0.6);
        }
    }
    // E区
    #part25{
        .title{
            top: 62%;
            left: 34%;
        }
    }
    // F区
    #part26{
        .title{
            left: -20%;
            .column;
        }
    }
    // G区
    #part27{
        .title{
            left: unset;
            right: -22%;
            .column;
        }
    }
    // H区
    #part280{
        .title{
            left: 60%;
        }
    }
    // J区
    #part29{
        .title{
            top: 0;
        }
    }
    // I区
    #part30{
        .title{
            top: 65%;
        }
    }
    // K区
    #part31{
        .title{
            top: 0;
        }
    }
    // L区
    #part32{
        .title{
            top: 20%;
        }
    }
    // M区
    #part33{
        .title{
            top: 8%;
        }
    }
    // N区
    #part34{
        .title{
            top: unset;
            bottom: -7%;
        }
    }
    // P区
    #part351{
        .title{
            top: -10%;
        }
    }
    // R区
    #part37{
        .title{
            display: flex;
            align-items: baseline;
            top: unset;
            bottom: -10%;
        }
    }
    // Q区
    #part36{
        .title{
            top: unset;
            bottom: 0%;
            left: 38%;
        }
    }
    // S区
    #part38{
        .title{
            display: flex;
            align-items: baseline;
            top: 8%;
            left: 30%;
        }
    }
}