.column {
  display: flex;
  flex-direction: column;
}
.FourPartStyle-PC #part21 .title {
  top: 70%;
}
.FourPartStyle-PC #part22 .title {
  left: 59%;
  display: flex;
  flex-direction: column;
}
.FourPartStyle-PC #part23 .title {
  left: 37%;
}
.FourPartStyle-PC #part24 .title {
  left: 35%;
  top: 45%;
}
.FourPartStyle-PC #part25 .title {
  top: 62%;
  left: 34%;
}
.FourPartStyle-PC #part26 .title {
  left: 30%;
  top: 60%;
}
.FourPartStyle-PC #part27 .title {
  top: 45%;
}
.FourPartStyle-PC #part280 .title {
  left: 60%;
}
.FourPartStyle-PC #part29 .title {
  top: 0;
  left: 33%;
}
.FourPartStyle-PC #part30 .title {
  top: 65%;
}
.FourPartStyle-PC #part31 .title {
  top: 15%;
}
.FourPartStyle-PC #part32 .title {
  top: 20%;
}
.FourPartStyle-PC #part33 .title {
  top: 52%;
  left: 65%;
}
.FourPartStyle-PC #part34 .title {
  top: 55%;
  left: 60%;
}
.FourPartStyle-PC #part351 .title {
  top: -20%;
}
.FourPartStyle-PC #part37 .title {
  display: flex;
  align-items: baseline;
  top: unset;
  bottom: 0%;
}
.FourPartStyle-PC #part361 .title {
  left: unset;
  right: -70%;
  display: flex;
  flex-direction: column;
}
.FourPartStyle-PC #part38 .title {
  left: 52%;
  display: flex;
  flex-direction: column;
}
.FourPartStyle-PC #part41 .title {
  top: 70%;
  left: 40%;
}
