.threeAreaStyle-mobile{
    // 单独的样式覆盖掉之前的公共样式（3层）
    // 采购库房（法务部旁边的）
    #QY010103004865{
        .title{
            span{
                width: .0215rem;
                white-space:unset;
            }
        }
    }
    // 平台技术部（it信息部）
    #QY010103005268{
        .title{
            display: flex;
            flex-direction: column;
            top: unset;
            bottom: -15%;
            left: 48%;
        }
    }
    // 法务部&公共关系与政府事务部
    #QY010103005066{
        .title{
            top: unset;
            bottom: 0;
        }
    }
    // 用户体验部（音频音效）
    #QY010103004762{
        .title{
            line-height: 1;
            top: 14%;
        }
    }
    // 热江3D&余烬风暴美术
    #QY010103003838{
        .title{
            top: 20%;
        }
    }
    // 热江3D&我叫MT-1（亚山世界会议室旁）
    #QY010103006037{
        .title{
            right: .1075rem;
            left: unset;
            span{
                width: .0215rem;
                white-space:unset;
            }
        }
    }
    // 热江3D&我叫MT-2（该区域的标题暂时删除）
    // 热江3D&我叫MT-3
    #QY01010300600{
        .title{
            top: unset;
            bottom: -15%;
        }
    }
    // 热江项目组-1、余烬风暴项目组、平台技术部（it信息部）、平台技术部（QA部）、用户体验部（本地化）
    #QY010103002639,#QY010103004040,#QY010103003131,#QY010103003030,#QY010103002424{
        .title{
            display: flex;
            align-items: center;
            span{
                width: 2px;
                white-space:unset;
            }
            .name{
                margin-right: 13px;
            }
        }
    }
    // 热江项目组-2
    #QY01010300260{
        .title{
            left: unset;
            right: 25%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 热江项目组-1
    #QY010103002639{
        .title{
            left: -7%;
        }
    }
    // 余烬风暴项目组
    #QY010103004040{
        .title{
            top: 0;
            left: -7%;
        }
    }
    // 平台技术部(it信息部）、平台信息部(QA部)
    #QY010103003131,#QY010103003030{
        .title{
            left: 7%;
        }
    }
    // 财务部、人力资源部
    #QY010103003232,#QY010103003435{
        .title{
            top: unset;
            bottom: -2%;
        }
    }
    // HR咨询服务办公室
    #QY010103002828{
        .title{
            top: -0.0753rem;
            left: -0.3763rem;
            transform: unset;
        }
    }
    // 用户体验部（本地化）
    #QY010103002424{
        .title{
            left: 7%;
        }
    }
    // 证券部
    #QY010103002020{
        .title{
            top: -35%;
        }
    }
    // 市场部-1
    #QY01010300641{
        .title{
            top: unset;
            bottom: -35%;
            left: 40%;
        }
    }
    // 总裁办(小)、市场部-2、视觉创意部
    #QY0101030019179,#QY010103006416,#QY010103001818{
        .title{
            top: 5%;
        }
    }
    // 新SLG、市场部-3、运营部
    #QY010103002252,#QY0101030064180,#QY010103005376{
        .title{
            top: unset;
            bottom: -7%;
        }
    }
    // 用户体验部（用研）、视觉创意部（视频组）
    #QY0101030066181,#QY010103001717{
        .title{
            top: unset;
            bottom: -28%;
        }
    }
    // 媒介管理部、采购部
    #QY01010300210,#QY0101030065178{
        .title{
            top: 62%;
        }
    }
    // 英雄无敌&新SLG
    #QY01010300431{
        .title{
            top: 40%;
        }
    }
    // 引擎平台部
    #QY0101030067182{
        .title{
            top: 15%;
        }
    }
    // 无神之界-1
    #QY010103004455{
        .title{
            top: 55%;
            left: 55%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 无神之界-2
    #QY01010300440{
        .title{
            left: unset;
            right: -25%;
            top: 40%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 行政部
    #QY0101030068183{
        .title{
            top: unset;
            bottom: -101%;
            left: 30%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 用户体验设计部
    #QY010103004560{
        .title{
            left: -5%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 电梯样式-1
    #QY010103005580{
        .title{
            left: unset;
            right: -0.6452rem;
        }
    }
    // 楼梯样式-1
    #QY010103005681{
        .title{
            top: 15%;
        }
    }
    // 货梯厅
    #QY010103005782{
        .title{
            top: 30%;
        }
    }
    // 前台
    #QY010103005986{
        .title{
            top: 70%;
        }
    }
    // 阳光走廊(3层和4层的)
    #QY0101030061174,#QY0101040066185{
        .title{
            left: 17%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 洗手台
    #QY010103006277{
        .title{
            top: 54%;
            left: 45%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 亚山世界、阿纳塔
    #QY01010300033,#QY01010300011{
        .title{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}