.threeAreaStyle-mobile #QY010103004865 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103005268 .title {
  width: 100%;
  height: 100%;
  top: unset;
  bottom: -0.8125rem;
  left: 0.2875rem;
}
.threeAreaStyle-mobile #QY010103005268 .title .subtitle {
  transform: translateY(-0.1452rem) scale(0.38, 0.38);
}
.threeAreaStyle-mobile #QY010103005066 .title {
  top: unset;
  bottom: -0.1613rem;
  left: 0.5914rem;
}
.threeAreaStyle-mobile #QY010103005066 .title .name {
  transform: scale(0.39, 0.55);
}
.threeAreaStyle-mobile #QY010103004762 .title {
  top: 0.0753rem;
}
.threeAreaStyle-mobile #QY010103004762 .title .subtitle {
  transform: translateY(-0.1452rem) scale(0.38, 0.38);
}
.threeAreaStyle-mobile #QY010103003838 .title {
  top: 0.2688rem;
}
.threeAreaStyle-mobile #QY010103003838 .title .subtitle {
  transform: translateY(-0.1452rem) scale(0.38, 0.38);
}
.threeAreaStyle-mobile #QY010103006037 .title {
  right: 0.1075rem;
  left: unset;
}
.threeAreaStyle-mobile #QY010103006037 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.threeAreaStyle-mobile #QY01010300600 .title {
  top: unset;
  bottom: -0.2258rem;
}
.threeAreaStyle-mobile #QY010103002639 .title,
.threeAreaStyle-mobile #QY010103004040 .title,
.threeAreaStyle-mobile #QY010103003131 .title,
.threeAreaStyle-mobile #QY010103003030 .title {
  display: flex;
  align-items: center;
  left: -0.0753rem;
}
.threeAreaStyle-mobile #QY010103002639 .title span,
.threeAreaStyle-mobile #QY010103004040 .title span,
.threeAreaStyle-mobile #QY010103003131 .title span,
.threeAreaStyle-mobile #QY010103003030 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103002639 .title .name,
.threeAreaStyle-mobile #QY010103004040 .title .name,
.threeAreaStyle-mobile #QY010103003131 .title .name,
.threeAreaStyle-mobile #QY010103003030 .title .name {
  margin-right: 0.086rem;
}
.threeAreaStyle-mobile #QY010103002639 .title .name {
  transform: scale(0.55, 0.45);
}
.threeAreaStyle-mobile #QY01010300260 .title {
  left: unset;
  right: 0.2151rem;
}
.threeAreaStyle-mobile #QY01010300260 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103004040 .title {
  top: 0;
}
.threeAreaStyle-mobile #QY010103003131 .title,
.threeAreaStyle-mobile #QY010103003030 .title {
  left: 0.0215rem;
}
.threeAreaStyle-mobile #QY010103003131 .title .name,
.threeAreaStyle-mobile #QY010103003030 .title .name {
  transform: scale(0.55, 0.48);
}
.threeAreaStyle-mobile #QY010103003232 .title,
.threeAreaStyle-mobile #QY010103003435 .title {
  top: unset;
  bottom: -0.1613rem;
}
.threeAreaStyle-mobile #QY010103002727 .title .name {
  transform: scale(0.3, 0.55);
}
.threeAreaStyle-mobile #QY010103002828 .title {
  top: -0.0753rem;
  left: -0.3763rem;
  transform: unset;
}
.threeAreaStyle-mobile #QY010103002424 .title {
  top: unset;
  bottom: -0.5161rem;
}
.threeAreaStyle-mobile #QY010103002424 .title .subtitle {
  transform: translateY(-0.1828rem) scale(0.38, 0.38);
}
.threeAreaStyle-mobile #QY010103002020 .title {
  top: -0.1075rem;
}
.threeAreaStyle-mobile #QY010103002020 .title .name {
  transform: scale(0.4, 0.55);
}
.threeAreaStyle-mobile #QY01010300641 .title {
  top: 78%;
}
.threeAreaStyle-mobile #QY0101030019179 .title,
.threeAreaStyle-mobile #QY010103006416 .title,
.threeAreaStyle-mobile #QY010103001818 .title {
  top: 0.0538rem;
}
.threeAreaStyle-mobile #QY0101030019179 .title .name {
  transform: scale(0.4, 0.55);
}
.threeAreaStyle-mobile #QY010103002252 .title,
.threeAreaStyle-mobile #QY0101030064180 .title,
.threeAreaStyle-mobile #QY010103005376 .title {
  top: unset;
  bottom: -0.1613rem;
}
.threeAreaStyle-mobile #QY0101030066181 .title,
.threeAreaStyle-mobile #QY010103001717 .title {
  top: unset;
  bottom: -0.5376rem;
}
.threeAreaStyle-mobile #QY0101030066181 .title .name,
.threeAreaStyle-mobile #QY010103001717 .title .name {
  transform: scale(0.4, 0.55);
}
.threeAreaStyle-mobile #QY0101030066181 .title .subtitle,
.threeAreaStyle-mobile #QY010103001717 .title .subtitle {
  transform: translateY(-0.1183rem) scale(0.38, 0.38);
}
.threeAreaStyle-mobile #QY01010300210 .title,
.threeAreaStyle-mobile #QY0101030065178 .title {
  top: 65%;
}
.threeAreaStyle-mobile #QY01010300210 .title .name {
  transform: scale(0.4, 0.55);
}
.threeAreaStyle-mobile #QY01010300431 .title {
  top: 40%;
}
.threeAreaStyle-mobile #QY0101030067182 .title {
  left: unset;
  right: 0.0215rem;
}
.threeAreaStyle-mobile #QY0101030067182 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103004455 .title {
  top: unset;
  bottom: -0.1075rem;
  left: 55%;
}
.threeAreaStyle-mobile #QY01010300440 .title {
  left: unset;
  top: 40%;
  right: -0.2258rem;
}
.threeAreaStyle-mobile #QY01010300440 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY0101030068183 .title {
  top: unset;
  bottom: -101%;
  left: 30%;
}
.threeAreaStyle-mobile #QY0101030068183 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY0101030068183 .title .name {
  transform: scale(0.55, 0.4);
}
.threeAreaStyle-mobile #QY010103004560 .title {
  left: -0.0538rem;
}
.threeAreaStyle-mobile #QY010103004560 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103004560 .title .name {
  transform: scale(0.55, 0.4);
}
.threeAreaStyle-mobile #QY010103005580 .title {
  left: unset;
  right: -0.6452rem;
}
.threeAreaStyle-mobile #QY010103005681 .title {
  top: 15%;
}
.threeAreaStyle-mobile #QY010103005782 .title {
  top: 30%;
}
.threeAreaStyle-mobile #QY010103005986 .title {
  top: 120%;
}
.threeAreaStyle-mobile #QY0101030061174 .title,
.threeAreaStyle-mobile #QY0101040066185 .title {
  left: 17%;
}
.threeAreaStyle-mobile #QY0101030061174 .title span,
.threeAreaStyle-mobile #QY0101040066185 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103006277 .title {
  top: 54%;
  left: 45%;
}
.threeAreaStyle-mobile #QY010103006277 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY01010300150 .title .subtitle {
  transform: translateY(-0.1452rem) scale(0.38, 0.38);
}
