.threeAreaStyle-mobile #QY010103004865 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103005268 .title {
  display: flex;
  flex-direction: column;
  top: unset;
  bottom: -15%;
  left: 48%;
}
.threeAreaStyle-mobile #QY010103005066 .title {
  top: unset;
  bottom: 0;
}
.threeAreaStyle-mobile #QY010103004762 .title {
  line-height: 1;
  top: 14%;
}
.threeAreaStyle-mobile #QY010103003838 .title {
  top: 20%;
}
.threeAreaStyle-mobile #QY010103006037 .title {
  right: 0.1075rem;
  left: unset;
}
.threeAreaStyle-mobile #QY010103006037 .title span {
  width: 0.0215rem;
  white-space: unset;
}
.threeAreaStyle-mobile #QY01010300600 .title {
  top: unset;
  bottom: -15%;
}
.threeAreaStyle-mobile #QY010103002639 .title,
.threeAreaStyle-mobile #QY010103004040 .title,
.threeAreaStyle-mobile #QY010103003131 .title,
.threeAreaStyle-mobile #QY010103003030 .title,
.threeAreaStyle-mobile #QY010103002424 .title {
  display: flex;
  align-items: center;
}
.threeAreaStyle-mobile #QY010103002639 .title span,
.threeAreaStyle-mobile #QY010103004040 .title span,
.threeAreaStyle-mobile #QY010103003131 .title span,
.threeAreaStyle-mobile #QY010103003030 .title span,
.threeAreaStyle-mobile #QY010103002424 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103002639 .title .name,
.threeAreaStyle-mobile #QY010103004040 .title .name,
.threeAreaStyle-mobile #QY010103003131 .title .name,
.threeAreaStyle-mobile #QY010103003030 .title .name,
.threeAreaStyle-mobile #QY010103002424 .title .name {
  margin-right: 13px;
}
.threeAreaStyle-mobile #QY01010300260 .title {
  left: unset;
  right: 25%;
}
.threeAreaStyle-mobile #QY01010300260 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103002639 .title {
  left: -7%;
}
.threeAreaStyle-mobile #QY010103004040 .title {
  top: 0;
  left: -7%;
}
.threeAreaStyle-mobile #QY010103003131 .title,
.threeAreaStyle-mobile #QY010103003030 .title {
  left: 7%;
}
.threeAreaStyle-mobile #QY010103003232 .title,
.threeAreaStyle-mobile #QY010103003435 .title {
  top: unset;
  bottom: -2%;
}
.threeAreaStyle-mobile #QY010103002828 .title {
  top: -0.0753rem;
  left: -0.3763rem;
  transform: unset;
}
.threeAreaStyle-mobile #QY010103002424 .title {
  left: 7%;
}
.threeAreaStyle-mobile #QY010103002020 .title {
  top: -35%;
}
.threeAreaStyle-mobile #QY01010300641 .title {
  top: unset;
  bottom: -35%;
  left: 40%;
}
.threeAreaStyle-mobile #QY0101030019179 .title,
.threeAreaStyle-mobile #QY010103006416 .title,
.threeAreaStyle-mobile #QY010103001818 .title {
  top: 5%;
}
.threeAreaStyle-mobile #QY010103002252 .title,
.threeAreaStyle-mobile #QY0101030064180 .title,
.threeAreaStyle-mobile #QY010103005376 .title {
  top: unset;
  bottom: -7%;
}
.threeAreaStyle-mobile #QY0101030066181 .title,
.threeAreaStyle-mobile #QY010103001717 .title {
  top: unset;
  bottom: -28%;
}
.threeAreaStyle-mobile #QY01010300210 .title,
.threeAreaStyle-mobile #QY0101030065178 .title {
  top: 62%;
}
.threeAreaStyle-mobile #QY01010300431 .title {
  top: 40%;
}
.threeAreaStyle-mobile #QY0101030067182 .title {
  top: 15%;
}
.threeAreaStyle-mobile #QY010103004455 .title {
  top: 55%;
  left: 55%;
}
.threeAreaStyle-mobile #QY010103004455 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY01010300440 .title {
  left: unset;
  right: -25%;
  top: 40%;
}
.threeAreaStyle-mobile #QY01010300440 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY0101030068183 .title {
  top: unset;
  bottom: -101%;
  left: 30%;
}
.threeAreaStyle-mobile #QY0101030068183 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103004560 .title {
  left: -5%;
}
.threeAreaStyle-mobile #QY010103004560 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103005580 .title {
  left: unset;
  right: -0.6452rem;
}
.threeAreaStyle-mobile #QY010103005681 .title {
  top: 15%;
}
.threeAreaStyle-mobile #QY010103005782 .title {
  top: 30%;
}
.threeAreaStyle-mobile #QY010103005986 .title {
  top: 70%;
}
.threeAreaStyle-mobile #QY0101030061174 .title,
.threeAreaStyle-mobile #QY0101040066185 .title {
  left: 17%;
}
.threeAreaStyle-mobile #QY0101030061174 .title span,
.threeAreaStyle-mobile #QY0101040066185 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-mobile #QY010103006277 .title {
  top: 54%;
  left: 45%;
}
.threeAreaStyle-mobile #QY010103006277 .title span {
  width: 2px;
  white-space: unset;
}
