@font-face {
    font-family: "iconfont"; /* Project id 3187109 */
    src: url('//at.alicdn.com/t/font_3187109_g4wu06dh55b.woff2?t=1645515115893') format('woff2'),
         url('//at.alicdn.com/t/font_3187109_g4wu06dh55b.woff?t=1645515115893') format('woff'),
         url('//at.alicdn.com/t/font_3187109_g4wu06dh55b.ttf?t=1645515115893') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .oamap-jiahao:before {
    content: "\eaf3";
  }
  
  .oamap-jianhao:before {
    content: "\eaf5";
  }
  
  .oamap-north:before {
    content: "\e62b";
  }