@font-face {
    font-family: "iconfont"; /* Project id 3187109 */
    src: url('//at.alicdn.com/t/font_3187109_7gjxrl6omq8.woff2?t=1647594213933') format('woff2'),
         url('//at.alicdn.com/t/font_3187109_7gjxrl6omq8.woff?t=1647594213933') format('woff'),
         url('//at.alicdn.com/t/font_3187109_7gjxrl6omq8.ttf?t=1647594213933') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .oamap-xiugai:before {
    content: "\e632";
  }
  
  .oamap-qingchu:before {
    content: "\e620";
  }
  
  .oamap-zuojiantou:before {
    content: "\e60c";
  }
  
  .oamap-sousuo:before {
    content: "\e636";
  }
  
  .oamap-jiahao:before {
    content: "\eaf3";
  }
  
  .oamap-jianhao:before {
    content: "\eaf5";
  }
  
  .oamap-north:before {
    content: "\e62b";
  }
  
  .oamap-icon_enlarge:before {
    content: "\e62c";
  }
  