@font-face {
    font-family: "iconfont"; /* Project id 3187109 */
    src: url('//at.alicdn.com/t/font_3187109_1cyfnijj7fd.woff2?t=1649668979604') format('woff2'),
         url('//at.alicdn.com/t/font_3187109_1cyfnijj7fd.woff?t=1649668979604') format('woff'),
         url('//at.alicdn.com/t/font_3187109_1cyfnijj7fd.ttf?t=1649668979604') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .oamap-kongxian:before {
    content: "\e635";
  }
  
  .oamap-huifu:before {
    content: "\e6e9";
  }
  
  .oamap-dongtaijiantoucopy:before {
    content: "\e719";
  }
  
  .oamap-xiugai:before {
    content: "\e632";
  }
  
  .oamap-qingchu:before {
    content: "\e620";
  }
  
  .oamap-zuojiantou:before {
    content: "\e60c";
  }
  
  .oamap-sousuo:before {
    content: "\e636";
  }
  
  .oamap-jiahao:before {
    content: "\eaf3";
  }
  
  .oamap-jianhao:before {
    content: "\eaf5";
  }
  
  .oamap-north:before {
    content: "\e62b";
  }
  
  .oamap-icon_enlarge:before {
    content: "\e62c";
  }
  