* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
}
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@media screen and (min-width: 930px) {
  html {
    font-size: 93px!important;
  }
}
.el-input__inner:focus {
  border-color: #dcdfe6 !important;
}
.autocomplete .el-autocomplete-suggestion .el-scrollbar .el-autocomplete-suggestion__wrap .el-scrollbar__view li ~ li {
  border-top: 1px solid #eee;
}
.autocomplete .el-autocomplete-suggestion .el-scrollbar .el-autocomplete-suggestion__wrap .el-scrollbar__view li .autoCompleteTemplate .oneLine {
  display: flex;
  justify-content: space-between;
}
.autocomplete .el-autocomplete-suggestion .el-scrollbar .el-autocomplete-suggestion__wrap .el-scrollbar__view li .autoCompleteTemplate .title {
  font-weight: 600;
}
.autocomplete .el-autocomplete-suggestion .el-scrollbar .el-autocomplete-suggestion__wrap .el-scrollbar__view li .autoCompleteTemplate .content {
  color: #333;
}
.autocomplete .el-autocomplete-suggestion .el-scrollbar .el-autocomplete-suggestion__wrap .el-scrollbar__view li .is_none_sugges {
  color: #333;
  text-align: center;
}
.el-message-box .el-message-box__btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
.el-message-box .el-message-box__btns button:nth-child(2) {
  margin-right: 10px;
  margin-left: unset;
}
.drawer {
  top: 20px!important;
  left: 20px!important;
  bottom: unset!important;
  height: unset!important;
  right: unset!important;
  border-radius: 7px;
  padding: 5px;
}
.drawer .el-drawer__body {
  padding: unset;
}
.drawer .el-drawer__body .reserve {
  margin-bottom: 0px;
}
.drawer .el-drawer__body .jump {
  color: orangered;
  cursor: pointer;
}
.drawer .el-drawer__body .make-btn {
  text-align: center;
}
.drawer-mask {
  position: unset!important;
}
input {
  outline: none;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper .el-scrollbar__bar.is-horizontal,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper .el-scrollbar__bar.is-horizontal {
  height: unset;
  left: unset;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 0;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-button,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-button {
  display: none;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-corner,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-corner {
  display: none;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-track,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-track {
  display: none;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-resizer,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-resizer {
  display: none;
}
.FixedAssets_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-thumb,
.meetingRoom_dialog .el-dialog__body .el-table .el-table__inner-wrapper .el-table__body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #9a9b9d;
}
.FixedAssets_dialog .el-dialog__footer .el-pagination,
.meetingRoom_dialog .el-dialog__footer .el-pagination {
  justify-content: end;
}
.meetingRoom_dialog .el-dialog__body {
  padding-top: 0;
}
.meetingRoom_dialog .el-dialog__body .inputBox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.meetingRoom_dialog .el-dialog__body .inputBox .el-input {
  margin-right: 15px;
  width: 30%;
}
.meetingRoom_dialog .el-dialog__body .inputBox button {
  border: none;
  padding: 5px 15px;
  height: max-content;
  border-radius: 7px;
  color: #fff;
  background-color: #d9001b;
  cursor: pointer;
}
.meetingRoom_dialog .Date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
