// 如果是上下排列，则直接调用这个类名
.column{
    display: flex;
    flex-direction: column;
}
.threePartStyle-PC{
    // 3层分区的单独样式
    // A区
    #part1{
        .title{
            top: 10%;
        }
    }
    // B区
    #part2{
        .title{
            top: 42%;
        }
    }
    // C区
    #part3{
        .title{
            left: 37%;
            .column;
        }
    }
    // D区
    #part4{
        .title{
            left: 28%;
            .column;
        }
    }
    // E区
    #part5{
        .title{
            top: 43%;
        }
    }
    // F区
    #part6{
        .title{
            top: unset;
            bottom: -7%;
            .column;
        }
    }
    // R区
    #part71{
        .title{
            top: 12%;
            left: 27%;
        }
    }
    // G区
    #part8{
        .title{
            left: unset;
            right: -2%;
            .column;
        }
    }
    // H区
    #part9{
        .title{
            top: 56%;
        }
    }
    // J区
    #part10{
        .title{
            top: 35%;
            left: 55%;
        }
    }
    // K区、L区
    #part11,#part12{
        .title{
            top: 40%;
            .column;
        }
    }
    // M区
    #part13{
        .title{
            left: 35%;
            .column;
        }
    }
    // N区
    #part14{
        .title{
            top: 57%;
        }
    }
    // I区
    #part15{
        .title{
            top: unset;
            bottom: -5%;
        }
    }
    // P区
    #part16{
        .title{
            top: unset;
            bottom: 12%;
        }
    }
    // Q区
    #part170{
        .title{
            left: 53%;
            .column;
        }
    }
    // S区
    #part18{
        .title{
            top: 14%;
            left: 55%;
        }
    }
    // T区
    #part19{
        .title{
            left: 44%;
            top: 41%;
            .column;
        }
    }
    // U区
    #part20{
        .title{
            white-space: nowrap;
            top: unset;
            bottom: 0%;
            left: 75%;
        }
    }
    // 前台
    #part40{
        .title{
            top: unset;
            left:unset;
            bottom: 11%;
            right: 16%;
        }
    }
}