// 如果是上下排列，则直接调用这个类名
.column{
    display: flex;
    flex-direction: column;
}
.threePartStyle-mobile{
    // A区
    #part1{
        white-space: nowrap;
        .title{
            top: unset;
            bottom: -0.3763rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // B区
    #part2{
        .title{
            top: unset;
            bottom: .7527rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // C区
    #part3{
        .title{
            width: .4301rem;
            left: unset;
            right: 1.129rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // D区
    #part4{
        .title{
            width: .4301rem;
            left: .9677rem;
            right: unset;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // E区
    #part5{
        white-space: nowrap;
        .title{
            top: unset;
            bottom: .6452rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // F区
    #part6{
        .title{
            top: 1.0215rem;
            bottom: unset;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // R区
    #part71{
        white-space: nowrap;
        .title{
            top: .129rem;
            bottom: unset;
            left: .1613rem;
            right: unset;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // G区
    #part8{
        .title{
            top: unset;
            bottom: .5376rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // H区
    #part9{
        white-space: nowrap;
        .title{
            top: unset;
            bottom: .3763rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // J区
    #part10{
        .title{
            left: 1.1828rem;
            right: unset;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // K区
    #part11{
        white-space: nowrap;
        .title{
            top: unset;
            bottom: 1.3441rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // L区
    #part12{
        white-space: nowrap;
        .title{
            top: unset;
            bottom: -0.3763rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // M区
    #part13{
        .title{
            width: .4301rem;
            top: .1183rem;
            bottom: unset;
            left: .1828rem;
            right: unset;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // N区
    #part14{
        white-space: nowrap;
        .title{
            top: .7742rem;
            bottom: unset;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // I区
    #part15{
        .title{
            width: .4301rem;
            left: unset;
            right: -0.3548rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // P区
    #part16{
        .title{
            width: .4301rem;
            top: unset;
            bottom: -0.5161rem;
            left: unset;
            right: .3763rem;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // Q区
    #part170{
        .title{
            width: .4301rem;
            left: 53%;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // S区
    #part18{
        white-space: nowrap;
        .title{
            top: 20%;
            left: 55%;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // T区
    #part19{
        white-space: nowrap;
        .title{
            top: 5%;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // U区
    #part20{
        .title{
            top: unset;
            bottom: -90%;
            left: 23%;
            transform: translate(-50%,-50%) scale(0.6,0.6);
        }
    }
    // 前台
    #part40{
        .title{
            top: 83%;
            left: 100%;
            transform: translate(-50%,-50%) scale(0.55,0.55);
        }
    }
}