.column {
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part1 {
  white-space: nowrap;
}
.threePartStyle-mobile #part1 .title {
  top: 10%;
}
.threePartStyle-mobile #part2 .title {
  top: 42%;
}
.threePartStyle-mobile #part3 .title {
  left: 35%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part4 .title {
  top: 40%;
  left: 27%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part5 .title {
  top: 42%;
}
.threePartStyle-mobile #part6 .title {
  top: unset;
  bottom: -10%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part71 .title {
  top: 10%;
  left: 24%;
}
.threePartStyle-mobile #part8 .title {
  left: unset;
  right: -3%;
  top: 55%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part9 .title {
  top: 55%;
}
.threePartStyle-mobile #part10 .title {
  top: 60%;
  left: 48.5%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part11 .title {
  top: 41%;
  left: 50.5%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part12 .title {
  left: 50.5%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part13 .title {
  left: 33%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part14 .title {
  top: 56%;
}
.threePartStyle-mobile #part15 .title {
  top: unset;
  bottom: -6%;
}
.threePartStyle-mobile #part16 .title {
  top: unset;
  bottom: 5%;
}
.threePartStyle-mobile #part170 .title {
  left: 53%;
}
.threePartStyle-mobile #part18 .title {
  top: 20%;
  left: 55%;
}
.threePartStyle-mobile #part19 .title {
  top: 30%;
  left: 44%;
  display: flex;
  flex-direction: column;
}
.threePartStyle-mobile #part20 .title {
  top: unset;
  bottom: 0%;
  left: 60%;
}
.threePartStyle-mobile #part40 .title {
  top: 73%;
  left: 80%;
}
