.threeAreaStyle-PC #QY010103004865 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-PC #QY010103005268 .title {
  top: unset;
  bottom: -33px;
  left: 34px;
}
.threeAreaStyle-PC #QY010103005066 .title {
  top: unset;
  bottom: -9px;
  left: 45px;
}
.threeAreaStyle-PC #QY010103005066 .title .name {
  transform: scale(0.5, 0.9);
}
.threeAreaStyle-PC #QY010103003838 .title {
  top: 18px;
}
.threeAreaStyle-PC #QY010103004762 .title {
  top: -2px;
}
.threeAreaStyle-PC #QY010103006037 .title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  right: 7px;
  left: unset;
}
.threeAreaStyle-PC #QY010103006037 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-PC #QY01010300600 .title {
  top: unset;
  bottom: -12px;
}
.threeAreaStyle-PC #QY010103002639 .title,
.threeAreaStyle-PC #QY010103004040 .title,
.threeAreaStyle-PC #QY010103003131 .title,
.threeAreaStyle-PC #QY010103003030 .title {
  display: flex;
  align-items: center;
  left: -7px;
}
.threeAreaStyle-PC #QY010103002639 .title span,
.threeAreaStyle-PC #QY010103004040 .title span,
.threeAreaStyle-PC #QY010103003131 .title span,
.threeAreaStyle-PC #QY010103003030 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-PC #QY010103002639 .title .name,
.threeAreaStyle-PC #QY010103004040 .title .name,
.threeAreaStyle-PC #QY010103003131 .title .name,
.threeAreaStyle-PC #QY010103003030 .title .name {
  margin-right: 8px;
}
.threeAreaStyle-PC #QY010103002639 .title .name {
  transform: scale(0.85, 0.7);
}
.threeAreaStyle-PC #QY01010300260 .title {
  left: unset;
  right: 25px;
}
.threeAreaStyle-PC #QY01010300260 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-PC #QY010103004040 .title {
  top: 0;
}
.threeAreaStyle-PC #QY010103003131 .title,
.threeAreaStyle-PC #QY010103003030 .title {
  left: 2px;
}
.threeAreaStyle-PC #QY010103003232 .title,
.threeAreaStyle-PC #QY010103003435 .title {
  top: unset;
  bottom: -5px;
}
.threeAreaStyle-PC #QY010103003434 .title,
.threeAreaStyle-PC #QY010103003333 .title {
  top: unset;
  bottom: -9px;
}
.threeAreaStyle-PC #QY010103002727 .title .name {
  transform: scale(0.6, 0.7);
}
.threeAreaStyle-PC #QY010103002828 .title {
  top: -7px;
  left: -8px;
  transform: unset;
}
.threeAreaStyle-PC #QY010103002424 .title {
  top: unset;
  bottom: -28px;
}
.threeAreaStyle-PC #QY010103002424 .title .subtitle {
  transform: translateY(-8px) scale(0.65, 0.65);
}
.threeAreaStyle-PC #QY010103002020 .title {
  top: -10px;
}
.threeAreaStyle-PC #QY010103002020 .title .name {
  transform: scale(0.6, 0.9);
}
.threeAreaStyle-PC #QY01010300641 .title {
  top: 78%;
}
.threeAreaStyle-PC #QY0101030019179 .title,
.threeAreaStyle-PC #QY010103006416 .title,
.threeAreaStyle-PC #QY010103001818 .title {
  top: 5px;
}
.threeAreaStyle-PC #QY0101030019179 .title .name {
  transform: scale(0.6, 0.9);
}
.threeAreaStyle-PC #QY010103002252 .title,
.threeAreaStyle-PC #QY0101030064180 .title,
.threeAreaStyle-PC #QY010103005376 .title {
  top: unset;
  bottom: -8px;
}
.threeAreaStyle-PC #QY0101030066181 .title,
.threeAreaStyle-PC #QY010103001717 .title {
  top: unset;
  bottom: -32px;
}
.threeAreaStyle-PC #QY0101030066181 .title .name,
.threeAreaStyle-PC #QY010103001717 .title .name {
  transform: scale(0.6, 0.9);
}
.threeAreaStyle-PC #QY0101030066181 .title .subtitle,
.threeAreaStyle-PC #QY010103001717 .title .subtitle {
  transform: translateY(-5px) scale(0.5, 0.5);
}
.threeAreaStyle-PC #QY01010300210 .title,
.threeAreaStyle-PC #QY0101030065178 .title {
  top: 65%;
}
.threeAreaStyle-PC #QY01010300210 .title .name {
  transform: scale(0.6, 0.9);
}
.threeAreaStyle-PC #QY01010300431 .title {
  top: 40%;
}
.threeAreaStyle-PC #QY0101030067182 .title {
  left: unset;
  right: 4px;
}
.threeAreaStyle-PC #QY0101030067182 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-PC #QY010103004455 .title {
  top: 40%;
  left: 55%;
}
.threeAreaStyle-PC #QY010103004455 .title span {
  width: 2px;
  white-space: unset;
  transform: scale(0.85, 0.7);
}
.threeAreaStyle-PC #QY01010300440 .title {
  left: unset;
  top: 40%;
  right: -15px;
}
.threeAreaStyle-PC #QY01010300440 .title span {
  width: 2px;
  white-space: unset;
  transform: scale(0.85, 0.7);
}
.threeAreaStyle-PC #QY0101030068183 .title {
  top: unset;
  bottom: -55px;
  left: 24%;
}
.threeAreaStyle-PC #QY0101030068183 .title span {
  width: 2px;
  white-space: unset;
  transform: scale(0.85, 0.5);
}
.threeAreaStyle-PC #QY010103004560 .title {
  left: -2px;
}
.threeAreaStyle-PC #QY010103004560 .title span {
  width: 2px;
  white-space: unset;
  transform: scale(0.85, 0.7);
}
.threeAreaStyle-PC #QY010103005580 .title {
  left: unset;
  right: -44px;
}
.threeAreaStyle-PC #QY010103005681 .title {
  top: 15%;
}
.threeAreaStyle-PC #QY010103005782 .title {
  top: 30%;
}
.threeAreaStyle-PC #QY010103005986 .title {
  top: 80%;
}
.threeAreaStyle-PC #QY0101030061174 .title,
.threeAreaStyle-PC #QY0101040066185 .title {
  left: 17%;
}
.threeAreaStyle-PC #QY0101030061174 .title span,
.threeAreaStyle-PC #QY0101040066185 .title span {
  width: 2px;
  white-space: unset;
}
.threeAreaStyle-PC #QY010103006277 .title {
  top: 54%;
  left: 45%;
}
.threeAreaStyle-PC #QY010103006277 .title span {
  width: 2px;
  white-space: unset;
}
