.FourAreaStyle-PC{
    // 单独的样式覆盖掉之前的公共样式（4层）
    // 空
    #QY010104000270{
        .title{
            top: unset;
            bottom: 5%;
        }
    }
    // 微传播（部门）
    #QY0101040030116{
        .title{
            top: 55%;
        }
    }
    // 灵回诗社
    #QY0101040028114{
        .title{
            top: unset;
            bottom: -5%;
        }
    }
    // 商务部、盾勇项目组、优格资本（部门）
    #QY0101040032118,#QY0101040031117,#QY0101040042131{
        .title{
            left: 20%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 盾勇项目组
    #QY01010400310{
        .title{
            left: 10%;
            top: 100%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 美术部-1、美术部-2
    #QY0101040036123,#QY0101040036122{
        .title{
            top: 25%;
        }
    }
    // 行政部、一点咨询
    #QY0101040039125,#QY0101040070189{
        .title{
            top: unset;
            bottom: -9px;
        }
    }
    // 发行技术部
    #QY0101040040126{
        .title{
            left: 0;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 客服部
    #QY0101040038124{
        .title{
            top: unset;
            bottom: -5px;
        }
    }
    // 渠道部
    #QY0101040033119{
        .title{
            top: 10px;
            left: 65%;
        }
    }
    // 发行技术部（产品部）、创新中心（Heyyo工作室）、运营部（盾勇&苍骑）
    #QY0101040043132,#QY0101040035121,#QY0101040034120{
        .title{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            right: 9px;
            left: unset;
            span{
                width: 2px;
                white-space:unset;
                word-break: break-all;
            }
            .name{
                margin-left: 11px;
            }
        }
    }
    // 创新中心（Heyyo工作室）
    #QY0101040035121{
        .title{
            left: unset;
            right: 10%;
        }
    }
    // 空16
    #QY0101040044133{
        .title{
            left: unset;
            right: 25%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // ROOBO库房
    #QY0101040047143{
        .name{
            transform:scale(0.6, 1)
        }
    }
    // ROOBO如布
    #QY01010400412{
        .title{
            top: 48%;
            left: 5%;
        }
    }
    // 直播间1
    #QY01010400510{
        .title{
            left: 80%;
        }
    }
    // 直播间8
    #QY01010400550{
        .title{
            top: 61%;
        }
    }
    // 机房
    #QY0101040064164{
        .title{
            top: 20%;
        }
    }
    // 微传播（部门-底部）
    #QY01010400300{
        .title{
            top: 10%;
        }
    }
    // 男浴室、女浴室
    #QY01010400621,#QY01010400631{
        .title{
            left: 42%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 4层女卫生间-1
    #QY0101040068161{
        .title{
            top: 10%;
            left: 40%;
        }
    }
    // 4层男卫生间-1
    #QY0101040061160{
        .title{
            top: 38%;
            left: 40%;
        }
    }
    // 4层洗手台
    #QY0101040067159{
        .title{
            top: 55%;
            span{
                width: 2px;
                white-space:unset;
            }
        }
    }
    // 前台
    #QY0101040065165{
        .title{
            top: 55%;
            left: 40%;
        }
    }
    // 鬼武
    #QY01010400450{
        .title{
            top: 10%;
        }
    }
    // 聚礼1/4半圆
    #QY01010400220{
        border-radius: 5px 0 0 0;
    }
    // 聚英1/4半圆
    #QY01010400230{
        border-radius:0 5px 0 0;
    }
    // 微传播（会议室）1/4半圆
    #QY01010400030{
        border-radius:14px 0 0 0;
    }
}