.ShenZhenAreaStyle-PC #QY02020700241 .title {
  top: unset;
  left: unset;
  bottom: 15px;
  right: -42px;
}
.ShenZhenAreaStyle-PC #QY02020700243 .title {
  top: 66%;
  left: unset;
  right: -42px;
}
.ShenZhenAreaStyle-PC #QY02020700246 .title {
  top: -19%;
  left: 20%;
}
.ShenZhenAreaStyle-PC #QY02020700247 .title {
  top: unset;
  left: 90%;
  bottom: -27%;
}
.ShenZhenAreaStyle-PC #QY02020700248 .title {
  top: unset;
  left: 98%;
  bottom: -18%;
}
.ShenZhenAreaStyle-PC #QY020207002413 .title {
  top: unset;
  left: 45%;
  bottom: -21%;
}
.ShenZhenAreaStyle-PC #QY020207002415 .title {
  top: unset;
  left: 19%;
  bottom: -19%;
}
.ShenZhenAreaStyle-PC #QY020207002419 .title {
  top: -10%;
  left: 16%;
}
.ShenZhenAreaStyle-PC #QY0202070029219 .title {
  top: -18%;
}
.ShenZhenAreaStyle-PC #QY02020700300 .title {
  top: unset;
  bottom: -18%;
  left: 42%;
}
.ShenZhenAreaStyle-PC #QY02020700311 .title {
  left: 0;
  top: unset;
  bottom: -19px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY02020700312 .title {
  left: -17px;
}
.ShenZhenAreaStyle-PC #QY02020700310 {
  background-color: rgba(2, 122, 255, 0.05) !important;
}
.ShenZhenAreaStyle-PC #QY02020700310 .title {
  top: -21%;
}
.ShenZhenAreaStyle-PC #QY0202070028218 .title {
  top: -14%;
}
.ShenZhenAreaStyle-PC #QY02020700272 .title {
  left: -17px;
}
.ShenZhenAreaStyle-PC #QY02020700270 .title {
  top: -11px;
  left: 20px;
}
.ShenZhenAreaStyle-PC #QY02020700260 .title {
  top: -11px;
  left: 45px;
}
.ShenZhenAreaStyle-PC #QY02020700251 .title {
  top: -11px;
  left: 18px;
}
.ShenZhenAreaStyle-PC #QY0202070009199 .title {
  top: unset;
  bottom: -25px;
}
.ShenZhenAreaStyle-PC #QY0202070018208 .title {
  top: 20px;
  left: -36px;
}
.ShenZhenAreaStyle-PC #QY0202070019209 .title {
  top: 34px;
  left: -36px;
}
.ShenZhenAreaStyle-PC #QY02020700160 .title {
  top: -17px;
}
.ShenZhenAreaStyle-PC #QY02020700161 .title {
  top: unset;
  bottom: -28px;
}
.ShenZhenAreaStyle-PC #QY0202070023213 .title {
  left: 82%;
}
.ShenZhenAreaStyle-PC #QY0202070005189 .title,
.ShenZhenAreaStyle-PC #QY0202070006190 .title,
.ShenZhenAreaStyle-PC #QY0202070001185 .title,
.ShenZhenAreaStyle-PC #QY0202070002186 .title,
.ShenZhenAreaStyle-PC #QY0202070007191 .title,
.ShenZhenAreaStyle-PC #QY0202070003187 .title,
.ShenZhenAreaStyle-PC #QY0202070008192 .title,
.ShenZhenAreaStyle-PC #QY0202070004188 .title {
  display: flex;
  flex-direction: column;
}
.ShenZhenAreaStyle-PC #QY0202070032222 .title {
  top: 22px;
  left: 65px;
}
.ShenZhenAreaStyle-PC #QY0202070033223 .title {
  top: unset;
  bottom: -115%;
}
