.ShenZhenAreaStyle-PC #QY02020700241 .title {
  top: unset;
  left: unset;
  bottom: 27px;
  right: -42px;
}
.ShenZhenAreaStyle-PC #QY02020700243 .title {
  top: 60%;
  left: unset;
  right: -42px;
}
.ShenZhenAreaStyle-PC #QY02020700246 .title {
  top: -12%;
  left: 26%;
}
.ShenZhenAreaStyle-PC #QY02020700247 .title {
  top: unset;
  left: 76%;
  bottom: -20%;
}
.ShenZhenAreaStyle-PC #QY02020700248 .title {
  top: unset;
  left: 103%;
  bottom: -14%;
}
.ShenZhenAreaStyle-PC #QY020207002413 .title {
  top: unset;
  left: 33%;
  bottom: -16%;
}
.ShenZhenAreaStyle-PC #QY020207002415 .title {
  top: unset;
  left: 68%;
  bottom: -15%;
}
.ShenZhenAreaStyle-PC #QY020207002419 .title {
  top: -8%;
  left: 11%;
}
.ShenZhenAreaStyle-PC #QY0202070029219 .title {
  top: -10%;
}
.ShenZhenAreaStyle-PC #QY02020700300 .title {
  top: unset;
  bottom: -13%;
  left: 80%;
}
.ShenZhenAreaStyle-PC #QY02020700311 .title {
  left: 0;
  top: unset;
  bottom: -19px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY02020700312 .title {
  left: -24px;
  transform: translate(0, -50%);
}
.ShenZhenAreaStyle-PC #QY02020700310 .title {
  top: -20%;
}
.ShenZhenAreaStyle-PC #QY0202070028218 .title {
  top: -14%;
  left: -3px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY02020700272 .title {
  left: -24px;
  transform: translate(0, -50%);
}
.ShenZhenAreaStyle-PC #QY02020700271 .title {
  top: -17px;
  left: 12px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY02020700260 .title {
  top: -17px;
  left: 16px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY02020700251 .title {
  top: -17px;
  left: 11px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY0202070009199 .title {
  top: unset;
  bottom: -17px;
  transform: translate(-50%, 0);
}
.ShenZhenAreaStyle-PC #QY0202070018208 .title {
  top: 4px;
  left: -45px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY0202070019209 .title {
  top: 59px;
  left: -45px;
  transform: unset;
}
.ShenZhenAreaStyle-PC #QY02020700160 .title {
  top: -23px;
  transform: translate(-50%, 0);
}
.ShenZhenAreaStyle-PC #QY02020700161 .title {
  top: unset;
  bottom: -23px;
  transform: translate(-50%, 0);
}
.ShenZhenAreaStyle-PC #QY0202070023213 .title {
  left: 82%;
}
.ShenZhenAreaStyle-PC #QY0202070005189 .title,
.ShenZhenAreaStyle-PC #QY0202070006190 .title,
.ShenZhenAreaStyle-PC #QY0202070001185 .title,
.ShenZhenAreaStyle-PC #QY0202070002186 .title,
.ShenZhenAreaStyle-PC #QY0202070007191 .title,
.ShenZhenAreaStyle-PC #QY0202070003187 .title,
.ShenZhenAreaStyle-PC #QY0202070008192 .title,
.ShenZhenAreaStyle-PC #QY0202070004188 .title {
  display: flex;
  flex-direction: column;
}
.ShenZhenAreaStyle-PC #QY0202070032222 .title {
  top: 14px;
  left: 42px;
  transform: unset;
}
